<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>BestPractice.md</key>
			<dict>
				<key>lastModification</key>
				<real>524929449.305305</real>
				<key>version</key>
				<dict>
					<key>3042d4bfe9e6aa8242b773939aa7be0d38fe698889bb2db7162503800944e626</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>BestPractice.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3042d4bfe9e6aa8242b773939aa7be0d38fe698889bb2db7162503800944e626</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
